@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #293CAC;
  font-family: "Poppins";
  color: #293CAC;
  background-color: #DEEDFF;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol, li {
  padding: 0;
  list-style-type: none;
}

/***Navbar CSS***/
nav {
  height: 80px;
  width: 100%;
  padding: 0 60px;
  box-shadow: 1px 5px 5px #a4a4a4, 1px -3px 5px #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #DEEDFF;
}
nav .sliding-mobile-menu, nav .hamburger {
  display: none;
}
nav .logo {
  transform: translateY(-5px);
}
nav .logo a {
  color: #293CAC;
  font-size: 20px;
  font-weight: bold;
}
nav .menu-items ul li a {
  color: #293CAC;
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 0px) and (max-width: 767px) {
  nav {
    padding: 0 20px;
  }
  nav .logo {
    transform: translateY(0px);
  }
  nav .logo a {
    font-size: 14px;
  }
  nav .menu-items {
    display: none;
  }
  nav .hamburger {
    display: block;
    cursor: pointer;
  }
  nav .hamburger .bar {
    height: 2px;
    width: 30px;
    margin-bottom: 4px;
    background-color: #293CAC;
  }
  nav .sliding-mobile-menu {
    padding: 50px 20px;
    width: 200px;
    text-align: center;
    display: block;
    position: absolute;
    top: 120%;
    right: -1000%;
    background-color: #293CAC;
    transition: 0.2s linear all;
  }
  nav .sliding-mobile-menu ul li {
    margin-bottom: 20px;
  }
  nav .sliding-mobile-menu ul li a {
    color: white;
  }
  nav .slide {
    right: 0;
    transition: 0.2s linear all;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  nav {
    padding: 0 40px;
  }
  nav .logo {
    transform: translateY(-8px);
  }
  nav .logo a {
    font-size: 14px;
  }
  nav .menu-items ul li a {
    font-size: 14px;
  }
}
/**Hero Section CSS**/
.hero-section {
  margin-top: 100px;
  padding: 50px 60px;
}
.hero-section h1 {
  font-size: 3rem;
  line-height: 40px;
}
.hero-section h1 span {
  font-style: italic;
  font-weight: 800;
}
.hero-section h4 {
  margin-top: 30px;
}
.hero-section h5 {
  font-weight: 500 !important;
  font-size: 18px;
}
.hero-section p {
  font-weight: 500 !important;
  font-size: 18px;
}
.hero-section img {
  margin-top: 30px;
  border-radius: 20px;
}
.hero-section a {
  width: 160px;
  margin-top: 30px;
  padding: 7px 0;
  text-align: center;
  display: block;
  color: #DEEDFF;
  background-color: #293CAC;
  border-radius: 5px;
  transform: translateY(10%);
}
.hero-section a:hover {
  transform: translateX(0%);
  transition: 0.2s linear all;
  box-shadow: 1px 10px 5px #b8b8b8;
}

@media (min-width: 0px) and (max-width: 767px) {
  .hero-section {
    padding: 50px 20px;
  }
  .hero-section h1 {
    font-size: 2.5rem;
  }
  .hero-section h5 {
    font-size: 16px;
    font-weight: 400;
  }
}
/**Faeture Section CSS**/
.feature-section {
  margin-top: 100px;
  position: relative;
  padding: 100px 60px;
}
.feature-section img {
  height: 60px;
}
.feature-section .feature {
  height: 300px;
  padding: 30px 20px;
  box-shadow: 1px 5px 5px #a4a4a4, 1px -3px 5px #ffffff;
  border-radius: 10px;
  position: relative;
  background-color: #DEEDFF;
}
.feature-section .feature h4 {
  margin-top: 10px;
}
.feature-section .feature p {
  font-size: 16px;
}
.feature-section .feature:hover {
  transform: translateY(-10%);
  transition: 0.2s linear all;
}
.feature-section .stroke-text {
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #5DA6FC;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -3;
}

@media (min-width: 0px) and (max-width: 767px) {
  .feature-section {
    padding: 30px 20px;
  }
  .feature-section .stroke-text {
    font-size: 3rem;
  }
}
/*** About Section CSS***/
.about-section {
  position: relative;
}
.about-section .stroke-text {
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #5DA6FC;
  position: absolute;
  top: 0px;
  right: 35%;
  transform: translateX(35%);
  z-index: -3;
}
.about-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.about-section p {
  line-height: 30px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .about-section {
    padding: 50px 20px;
  }
  .about-section .stroke-text {
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    font-size: 4rem;
  }
  .about-section h1 {
    margin-top: 30px;
    font-size: 2.5rem;
  }
}
/*** Project Section CSS***/
.project-section {
  padding: 50px 60px;
  margin-top: 100px;
  position: relative;
}
.project-section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 80px;
}
.project-section .stroke-text {
  font-size: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #5DA6FC;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -3;
}
.project-section .project {
  padding: 20px;
  box-shadow: 1px 5px 5px #a4a4a4, 1px -3px 5px #ffffff;
  border-radius: 20px;
}
.project-section .project img {
  border-radius: 20px;
  margin-bottom: 20px;
}
.project-section .project a {
  color: brown;
  text-decoration: underline;
}
.project-section .project h5 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.project-section .project div {
  margin-top: 20px;
}
.project-section .project .project-link {
  width: 120px;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #DEEDFF;
  background-color: #293CAC;
  transform: translateY(10%);
  border-radius: 5px;
}
.project-section .project .project-link:hover {
  transform: translateX(0%);
  transition: 0.2s linear all;
  box-shadow: 1px 10px 5px #b8b8b8;
}
.project-section .project:hover {
  transform: translateY(-2%);
  transition: 0.2s linear all;
}

@media (min-width: 0px) and (max-width: 767px) {
  .project-section {
    padding: 50px 20px;
  }
  .project-section h1 {
    font-size: 1.7rem;
  }
  .project-section .stroke-text {
    font-size: 3rem;
    top: 10px;
  }
}
/***Contact Row CSS***/
.contact-section {
  margin-top: 100px;
  box-shadow: 1px 5px 5px #a4a4a4, 1px -3px 5px #ffffff;
}
.contact-section .contact-left {
  padding: 50px;
}
.contact-section .contact-left img {
  height: 70px;
}
.contact-section .contact-left h1 {
  margin: 20px 0;
}
.contact-section .contact-left h5 {
  margin: 20px 0;
}
.contact-section .contact-right {
  position: 50px;
  position: relative;
}
.contact-section .contact-right img {
  opacity: 0.2;
}
.contact-section .contact-right h2 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-section .contact-right .icon-email {
  height: 100px;
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-20%, -10%);
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 767px) {
  h2 {
    font-size: 1rem;
  }
}
/**Footer Section CSS**/
footer {
  padding: 50px 0;
  text-align: center;
}

.de img {
  margin-bottom: 20px;
  width: 95%;
}/*# sourceMappingURL=style.css.map */